/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5a90dc;
}

.main-container {
    display: flex;
    justify-content: space-between;
    background-color: #d3e6f8;
    padding: 35px;
    gap: 25px;
    margin: 50px auto;
    height: auto;
    width: 95vw;
    max-width: 1250px;
    border-radius: 10px;
}

/* Left Section */
.left-section {
    background-color: #fff;
    border: 2px solid #5a90dc;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-image video {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #5a90dc;
}

/* Labels */
.user-details label {
    width: 90%;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

/* Input Fields */
.user-details input,
.user-details select {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Interest Field with Increased Height */
#interests {
    height: 60px;
    resize: vertical;
}

/* Submit Button */
#submitBtn {
    width: 50%;
    background-color: #5a90dc;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submitBtn:hover {
    background-color: #3b6ba5;
}

/* Right Section */
.right-section {
    background-color: #fff;
    border: 2px solid #5a90dc;
    border-radius: 20px;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-section h3 {
    margin-bottom: 20px;
    color: #5a90dc;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    border: 2px solid #5a90dc;
    border-radius: 15px;
    padding: 15px;
}

/* Profile Overview */
.profile-overview span {
    display: block;
    background-color: #5a90dc;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.15s linear;
}

.profile-overview span:hover {
    box-shadow: 0px 0px 8px rgb(10, 122, 159);
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .profile-overview span {
        width: 100%;
    }
}
